1. What is pandas and why use it?

Pandas is an open source python library widley used for data manipulation and data analysis. Pandas has two principle data structures, data frames and series.  Pandas also offers great flexability and ease of use when dealing with structured data.

2. Give an example of how to import a csv file using pandas

In [1]:
import pandas as pd
url='https://raw.githubusercontent.com/greggmaloy/Data620/main/DATA_620_Assignment_1.csv'
df=pd.read_csv(url)
print(df)

      Organisation                 member
0         ethereum          Oleh Aldekein
1         ethereum                   None
2         ethereum     Frank Szendzielarz
3         ethereum      Kolby Moroz Liebl
4         ethereum  Marius van der Wijden
...            ...                    ...
10593    microsoft           Zachary Danz
10594    microsoft                    zsy
10595    microsoft          Zuhair Parvez
10596    microsoft                   None
10597    microsoft              Yiwen Zhu

[10598 rows x 2 columns]

3. Show how to view the first 10 rows of a dataset using pandas

In [3]:
print(df.head(10))

  Organisation                 member
0     ethereum          Oleh Aldekein
1     ethereum                   None
2     ethereum     Frank Szendzielarz
3     ethereum      Kolby Moroz Liebl
4     ethereum  Marius van der Wijden
5     ethereum           Mihai Alisie
6     ethereum                   None
7     ethereum       Anton Nashatyrev
8     ethereum          Justin Martin
9     ethereum            RJ Catalano

4. Write a Pandas program to compare the elements of the two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [14]:
series_1=pd.Series([2, 4, 6, 8, 10])
series_2=pd.Series([1, 3, 5, 7, 10])


all_equal = (series_1==series_2).all()

#checks is all the elements of the series are equal
if all_equal:
    print("All of the elements in the series are equal.")
else:
    print("All of the elements in the series are not equal.")
    
#using any()    
any_equal = (series_1==series_2).any()
if any_equal:
    print("At least one pair of elements in the series is equal.")
else:
    print("None of the elements of the series are equal.")

All of the elements in the series are not equal.
At least one pair of elements in the series is equal.

5. Change the first character of each word to upper case in each word of df1
df1 = pd.Series(['hello', 'to', 'cuny', 'class?'])

In [16]:
df1 = pd.Series(['hello', 'to', 'cuny', 'class?'])
df1 = df1.str.title()
print(df1)

0     Hello
1        To
2      Cuny
3    Class?
dtype: object